.tete{
    background-image: url(../img/portfolio-1-600x400.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
}
.btn{
    float: right;
}
.bout button{
    border-radius: 20px;
}
.bout{
   display: flex;
   align-items: center;
   justify-content: center;
}